<div class="container text-center">
  <h1 class="mb-4">Welcome to Rails Bootstrap 5 Kickoff!</h1>
  <p class="text-lg leading-snug">Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>
</div>
