<div class="page-header mt-5 mb-5">
<p><%= render_breadcrumbs %></p>
<%= render 'courses/course', course: @course %>
  <%= link_to courses_path, class: 'btn btn-success' do %>
    All Courses
  <% end %>
</div>
